<h2>Weather in <%= @city %></h2>

<p><%= @weather_now %>: <%= @weather_description %> </p>

<h3>5 days forcast</h3>

<table>
  <thead>
      <tr>
        <th>day1</th>
        <th>day2</th>
        <th>day3</th>
        <th>day4</th>
        <th>day5</th>
        <th colspan="3"></th>
      </tr>
  </thead>
  <tbody>
      <tr>
        <% @five_days_result.each do |result|%>
         <td><%= result["weather"][0]["main"] %></td>
        <% end %>
      </tr>
  </tbody>
</table>
<p><%= link_to 'back', root_path %></p>